.user_dashboard {
  height: 100vh;
}

.user_sidebar {
  width: 200px;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  padding: 15px;
  color: black;
  position: fixed;
  left:0;
  top:0;
  height: 100vh;
}

.user_sidebar h3 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 18px;
  color:black;
}

.user_sidebar li a svg{
  margin-right: 10px;
  margin-left: 10px;
}
.user_sidebar li a svg path{
  fill: black;
}
.user_sidebar li a{
  margin-left: 3px;
  color: black;
  border-radius: 7px;
  padding: 10px 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  font-size: 14px;
  transition: all 0.3s ease;
  
}
.user_slidebar li:last-child {
  margin-bottom: 0;
}
.user_handle button{
  margin-left: 10px;
   background:transparent; 
    border: none;
    color: rgb(118, 228, 98);
  padding: 10px 20px;
  border-radius: px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease;
}

.user_sidebar li a:hover,
.user_handle button:hover {
  color :rgb(118, 228, 98);
  background-color: rgba(67, 235, 95, 0.2); 
  transform: scale(1.1);
}

.user_dashboard_content {
  margin-left:200px;
  background-color: #fff;
}

.user_dashboard_main_content {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  margin: 20px 20px 20px 20px;
  padding: 20px;
  min-height: 60vh;
 box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.1);
  border-radius: 3px;
}

.user_navbar {
   box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  background-color: #ffffff;
  padding: 10px 20px;
  /* position: fixed; */
  width: 100%;
  /* top:0;
  z-index: 5; */
   display: flex; 
  justify-content: space-between;
  align-items: center; 
}

.user_navbar .user_profile {
  display: flex;
  align-items: center;
}

.user_navbar .user_profile img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.user_navbar .user_profile span {
  font-weight: bold;
  color: #000;
  font-size: 14px;
}

.active_navlink {
    color: rgb(118, 228, 98)!important;
     background-color: rgba(67, 235, 95, 0.1);
  }