@import url("https://fonts.cdnfonts.com/css/gugi");
.global-font {
    font-family: "Gugi", sans-serif;
}
body {
    /* background: linear-gradient(
        180deg,
        #0b3ef4 0%,
        #0b3ef4 55.44%,
        rgba(11, 62, 244, 0.523956) 47.88%,
        rgba(11, 62, 244, 0.35) 100%
    ); */
    background-color:#1B5692;
    
}
/* from main container card */
.form-maincontainer {
    background-color: #fefefe;
    height: 92vh;
    width: 85vw;
    border-radius: 15px;
    margin-left: 90px;
    margin-top: 30px;
    background-image: url(../../src/images/wholeblob-01.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-size: 250vh;
}
/* start login from left and right div */
.login-leftcontainer {
    /* border: 1px solid; */
    height: 59vh;
    width: 47vw;
    text-align: center;
    padding: 30px;
}
.login-rightcontainer {
    /* border: 1px solid; */
    height: 59vh;
    width: 40vw;
    text-align: center;
    position: relative;

}
.login-rightcontainer img {
    height: 25vh;
    width: 12vw;
    border-radius: 322px;
    position: absolute;
    top: 20px;
    right:30px;
}
.login-rightcontainer .flags{
    top: 130px;
    left:180px;
}
.login-rightcontainer .vote{
    top: 20px;
    left:40px;
    background-color: #fefefe;
}
.login-rightcontainer .poll{
    height: 20vh;
    width: 10vw;
    top: 220px;
    left:40px;
    background-color: #fefefe;
}
/* end login from left and right div */

/* login left right flex container */
.container-outlet {
    display: flex;
    justify-content: center;
}

/* header logo */
.container-upper{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid; */
}
.container-upper p{
    padding: 22px;
    color: rgb(94, 96, 97);
}
.container-upper img {
    height: 95px;
    margin: 15px 45px;
}
.form-field input{
    height: 6vh;
    width: 22vw;
    margin-top: 15px;
    border-radius: 4px;
    border: none;
    background-color: #dbd6d6;
    padding: 12px;
    margin-bottom: 12px;
}
.form-field .btn{
    background-color: blue;
    color: white;
    cursor: pointer;
}
.form-field .btn:hover{
    background-color: rgb(23, 156, 13);
}

.form-field .forgot{
    color: red;
    margin-left: 150px;
}
.form-field p{
    margin-top: 45px;
}